<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta theme-color="#ffa348">
    <meta name="color-scheme" content="dark light">
    <meta name="description" content="{{ metadata.description }}">
    <link rel="icon" href="/assets/favicon.svg" type="image/svg+xml">
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <title>{{ title }}</title>
    <script type="module">{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}</script>
  </head>
  <body>
    {% include "partials/site-head.html" %}

    <script type="module">
      await import('/pagefind/pagefind-highlight.js');
      new PagefindHighlight({ highlightParam: "highlight" });
    </script>

    <main tabindex="-1" id="main-content">
      <!-- <heading-anchors> -->
        {{ content | safe }}
      <!-- </heading-anchors> -->
    </main>

    {% include "partials/site-foot.html" %}
  </body>
</html>
