<script src="/pagefind/pagefind-ui.js"></script>

<a href="#main-content" class="skip-link">Hoppa till innehåll</a>

<header>
  <div class="center" style="--measure: 100ch">
    <!-- {# if page.url == "/" #} -->
    <!-- <a class="home" href="/" label="Hem"> -->
    <!-- {# include "partials/favicon.svg" #} -->
    <!-- </a> -->
    <!-- {# else #} -->
    <a class="home" href="/" label="Hem">
      Brf Urbilden
    </a>
    <!-- {# endif #} -->

    {% set navClass = "head-nav" %}
    {% include "partials/nav.html" %}

    <search id="search">
      <button class="search-button" aria-label="Visa sökmeny" type="button">
      </button>
    </search>

    <!-- {# if page.url == "/" #} -->
    <!-- <h1>Brf Urbilden</h1> -->

    <!-- <div id="search-main"></div> -->

    <!-- <script> -->
    <!-- window.addEventListener('DOMContentLoaded', (event) => { -->
    <!-- new PagefindUI({element: "#search-main", showSubResults: true, highlightParam: "highlight"}); -->
    <!-- }); -->
    <!-- </script> -->
    <!-- {# endif #} -->

  </div>
</header>


<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    // Add search UI
    new PagefindUI({element: "#search", showSubResults: true, highlightParam: "highlight"});

    // Set up variables for navigation toggle
    const nav = document.querySelector(".head-nav");
    const navButton = document.querySelector(".nav-button");

    const navMenu = navButton.nextElementSibling;
    navMenu.hidden = true;

    // Set up variables for search toggle
    const search = document.querySelector("#search");
    const searchButton = document.querySelector(".search-button");

    const searchMenu = searchButton.nextElementSibling;
    searchMenu.hidden = true;

    // Add event listeners for toggles
    navButton.addEventListener('click', function () {
      let expanded = this.getAttribute('aria-expanded') === 'true' || false;
      let ariaLabel = this.getAttribute('aria-expanded') === 'true'
        ? "Visa navigeringsmeny" : "Dölj navigeringsmeny";
      this.setAttribute('aria-expanded', !expanded);
      navMenu.hidden = !navMenu.hidden;
      navButton.setAttribute('aria-label', ariaLabel);

      searchButton.setAttribute('aria-expanded', "false");
      searchButton.setAttribute('aria-label', "Visa sökmeny");
      searchMenu.hidden = true;
    });

    searchButton.addEventListener('click', function () {
      let expanded = this.getAttribute('aria-expanded') === 'true' || false;
      let ariaLabel = this.getAttribute('aria-expanded') === 'true'
        ? "Visa sökmeny" : "Dölj sökmeny";
      this.setAttribute('aria-expanded', !expanded);
      searchButton.setAttribute('aria-label', ariaLabel);
      searchMenu.hidden = !searchMenu.hidden;

      // Hide nav menu
      navButton.setAttribute('aria-expanded', "false");
      navButton.setAttribute('aria-label', "Visa navigeringsmeny");
      navMenu.hidden = true;
    });
  });
</script>
