<footer>
  <div class="center" style="--measure: 100ch">
    {% set navClass = "foot-nav" %}
    {% include "partials/nav.html" %}
    <hr>
    <!-- TODO: nav eller ej? -->
    <ul class="cluster" role="list">
      <li>
        <a href="/kontakt">Kontakt</a>
      </li>
      <li>
        <a href="/integritetspolicy">Integritetspolicy</a>
      </li>
      <li>
        <a href="/kolofon">Kolofon</a>
      </li>
      <li>
        <a href="/tillganglighet">Tillgänglighet</a>
      </li>
    </ul>
    <p>
      &copy; Urbilden 2025
    </p>
  </div>
</footer>
